wflow-consoleweb/src/main/webapp/WEB-INF/processStart.xsd

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
   xmlns:apps = "http://kecak.kinnarastudio.com/soap/apps/schemas"
   elementFormDefault = "qualified"
   targetNamespace = "http://kecak.kinnarastudio.com/soap/apps/schemas">
   
   <xs:element name = "ProcessRequest">
      <xs:complexType>
         <xs:all>
            <xs:element name = "appId" type = "xs:string"/>
            <xs:element name = "processDefId" type = "xs:string"/>
         </xs:all>
      </xs:complexType>
   </xs:element>

</xs:schema>